@charset "UTF-8";
.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

.logotext {
    height: 100%;
    padding: 15px;
    width: auto;
}

.pq {
    color: #333;
    font-size: 16px;
}

.hidden {
    display: none; /* Ukryj wiersz */
}

.pullquote {
    float: right;               /* Ustawienie cytatu po prawej stronie */
    width: 30%;                 /* Ustaw szerokość cytatu – zmień na inny procent, jeśli potrzeba */
    margin-left: 15px;          /* Margines z lewej strony, by odstawał od tekstu */
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 211, 224, 0.5); /* Czerwone tło */
    border-radius: 10px;
    font-style: italic;
    box-sizing: border-box;     /* Umożliwia lepsze dostosowanie paddingu */
}
